include ../../layout/include.pug

+b.modal-win--thanks.text-center
	h2 Ваша заявка принята!
	p Мы отправили Вам письмо на #[a(href="mailto:onehina@yandex.ru").text-body onehina@yandex.ru] с информацией о дальнейших этапах отбора.
	p Желаем удачи!